# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional Prettier cache
.prettiercache

# dotenv environment variables file
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.bak

# Output of 'npm build'
/dist
/build
/out
/tmp

# Vite-specific
.vite/
