:root {
    --primary-color: #00897b; /* Verde-água escuro para melhor contraste */
    --secondary-color: #ffffff;
    --accent-color: #004d40;
    --text-dark: #2c3e50;
    --text-light: #546e7a;
    --bg-light: #f4f7f6;
    --error-color: #d32f2f;
    --font-main: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

header {
    margin-left: 3000px;
}
.bannerH1{
    font-size: 3rem;
    color: #D6F8F5;
}

.banner {
    background-image: url("../assets/images/bannerHomepage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 20rem; /* obrigatório ter altura */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btnHomepage {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);   
    color: white;
    font-size: 2rem ;

    display: inline-block;
    width: fit-content;
    padding: 1rem;

    margin-top: 2rem;
    text-decoration: none;
}