:root {
  --primary-color: #00897b; /* Verde água */
  --secondary-color: #ffffff; /* Branco */
  --text-dark: #2c3e50;
  --text-light: #546e7a;
  --bg-light: #f4f7f6;
  --border-color: #d1d5db;
  --font-main: 'Montserrat', sans-serif;
  --transparente: #ffffff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--secondary-color);
  color: var(--text-dark);
}
main {
  margin-top: 90px; /* Compensa a altura do header fixo */
}
.section-title {
  font-size: 1.8rem;
  color: var(--text-dark);
  margin-bottom: 40px;
  font-weight: 600;
}

@media (max-width: 768px) {
  main {
    margin-top: 70px; /* Header fica mais alto no mobile */
  }
}
